/* This file is for your main application css. */
@import "./phoenix.css";

body {
  font-family: 'Arimo', sans-serif;
}

.header-container {
  background-color: #ff6600;
  display: flex;
}

.header-logo {
  width:18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  margin-right: 5px;
}

.header-logo img {
  border:1px white solid;
}

.header-menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 11pt;
  color: #222222;
}

.header-menu-links-left{
  display: flex;
  flex-direction: row;
}

.header-menu-logo {
  margin-right: 5px;
}

.header-menu-login-container {
  padding-right: 4px;
  display: flex;
  align-items: center;
}

a:link, .header-container a:visited {
  color: #000000;
  text-decoration: none;
}

.feed-container a:visited {
  color: #828282;
}

.feed-container {
  font-size: 11pt;
  color: #828282;
  background-color: #F6F6F0;
  padding-top: 5px;
  padding-bottom: 20px;
}

.post-container {
  margin-bottom: 8px;
  padding-left: 5px;
}

.post-header {
  display: flex;
}

.post-footer {
  margin-left: 27px;
}

.post-website, .post-website a, .post-footer, .post-footer a {
  font-size: 9pt;
  color: #828282;
}

.post-upvote-arrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url(/images/grayarrow.gif) no-repeat;
}

.feed-more-button {
  margin-left: 27px;
}

.feed-footer-line {
  height: 2px;
  width: 100%;
  margin-top: 10px;
  background-color: #ff6600;
}

.post-form {
  padding-top: 20px;
  padding-left: 5px;
}

.post-form input {
  width: 400px;
}

.post-form .submit-button {
  margin-left: 30px;
}

.post-form .url-input {
  margin-left: 7px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .post-upvote-arrow { background-size: 10px; background-image: url(/images/grayarrow2x.gif); }
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
  body {
    margin: 0;
  }

  .container {
    padding: 0;
  }

  .header-menu-logo {
    font-size: 17px;
  }

  .header-menu-links-left{
    display: flex;
    flex-direction: column;
  }

  .feed-container {
    font-size: 12pt;
    line-height: 14pt;
  }
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}
